.background-main{
  background: url(/public/images/Loginbackground.png) no-repeat center center;
  background-size: cover;
  height: 100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}
.Contentboard{
background:white;
padding-left:60px;
overflow:hidden;
position:relative;
width:60%;
border-radius:10px;

}
.img-align{
position:absolute;
right:0;
top:0;
}
.img-align img{
width:365px;
}
.TextStyle{
    margin-top:30px;
    margin-bottom:20px;
color:#3593A6;
}
.TextStyle h1{
    font-size:3rem;
    font-weight:600;
}
.ButtonClass{
      width:480px;
    height:60px;
    border-radius:10px;
    color:white;
background-color:#3593A6;
margin-top:20px;
border:none;

}
.ForgotPassword{
    color:#9C9090;
    font-weight:600;
text-decoration:none;
margin-top:10px;
align-self:end
}
.Signupcontainer{
display:flex;
gap:10px;
margin:20px 0px
}
.FieldContainer{
display:flex;
flex-direction:column;
width:57%;
}
.ButtonClass img{
    margin-right:15px;
    width:22px;
    height:22px;
}
.SignupText{
    color:#3593A6;
    text-decoration:none;
    font-weight:600
}